.proceedToCheckoutBtn {
    cursor: pointer;
    margin: 0 5px;
    background: #84c225;
    color: #fff;
    border: 1px solid #84c225;
    border-radius: 3px;
    padding: 11px 30px;

}

.removeBtn {
    cursor: pointer;
    background: #c22525;
    color: #fff;
    border: 1px solid #c22525;
    border-radius: 3px;
    height: 20px;
}

.delP{
  padding: 30px;

}

.cartcontainer{
  height: 230px;
  width: 170px;
}

.cartDetails{
  height: 100px;
  width: 100px;
  padding: 10px;
}

.cartImg {
  height: 230px;
  width: 150px;
}

.mycartItems {
  display: flex;

  margin: 20px;
  border: solid 1px;
  background-color: #fff;
  
}

.totalCheckout {
  text-align: center;
}

._3dY_ZR {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #212121;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 10px;
}

.zab8Yh .nZz3kj ._1uc2IE {
  width: var(--cart-item-image-width);
  text-align: center;
  display: inline-block;
}

._253qQJ{
  width: 30px;

}

._23FHuj {
  border-radius: 50%;
}