/* .cardd {
  text-align: center;
  max-height:230px;
  max-width:230px;
  min-height:230px;
  min-width:230px;
  border-radius:2px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
} */

/* .main-content2{
  display:grid;
  grid-template-columns: 1fr 1fr ;
  row-gap: 50px;
  justify-items: center;
  } */

/* .productListContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}

.productListCard {
  display: flex;
  flex-wrap: wrap;
} */

.grid-container {
  display: inline-block;
  background-color: #fff;
  margin: 50px;
  
  }

  
  .grid-item {
    cursor: pointer;
    background-color: #fff;
    color: #333;
    border-radius: 4px;
    width: 100%;
    text-align: center;
    
  }

  .grid-container :hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);

  }

  .grid-item :hover {
    box-shadow:none;
  }
