body {
  color:rgb(77, 80, 83);
}

.main-content{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 50px;
  justify-items: center;
  align-items: center;
  }
  a{
    text-decoration: none;
    color:rgb(77, 80, 83);
  }
  .card{
    text-align: center;
    max-height:230px;
    max-width:230px;
    min-height:230px;
    min-width:230px;
    border-radius:2px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
  }

  .img-wrapper{
    height:180px;
    width:180px;
    margin:0 auto;
  }

 .card-img{
   margin-top:10px;
   height:170px;
   width:170px;
 }

 .card-img:hover{
  height:180px;
  width:180px
 }


 .card a:hover{
  
  text-decoration:none; 
 }

 @media screen and (max-width: 1150px) {
  .main-content {
    display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 50px;
    }
}

@media screen and (max-width: 960px) {
  .main-content {
    display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 50px;
    }
}

 @media screen and (max-width: 750px) {
  .main-content {
    display:grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 50px;
    }
}


 @media screen and (max-width: 490px) {
  .main-content {
    display:grid;
  grid-template-columns: 1fr;
  
    }  
}






