@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
}

.grid-container {
  display: inline-block;
  background-color: #fff;
  margin: 50px;
  
  }

  
  .grid-item {
    cursor: pointer;
    background-color: #fff;
    color: #333;
    border-radius: 4px;
    width: 100%;
    text-align: center;
    
  }

  .grid-container :hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);

  }

  .grid-item :hover {
    box-shadow:none;
  }

  @media screen and (max-width: 1130px) {
    .grid-container {
      margin: 70px;
      
      }
  }

  @media screen and (max-width: 620px) {
    .grid-container {
      margin: 10px;
      
      }
  }

  @media screen and (max-width: 480px) {
    .grid-container {
      margin-left: 105px;
      
      }
  }