.shippingformBtn {
  background-color: #276ef1;
  color: #fff;
  font-size: 16px;
  line-height: 1.4;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  font-family: inherit;
  min-width: 90px;
  max-width: 90px;
  margin-left: 130px;
}



.shipping_div {
  position: absolute;

  width: 300px;
  height: 300px;

  /* Center form on page horizontally & vertically */
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -177px;
}

.shipping_form {
  width: 350px;
  height: 350px;

  background: #fff;
  border-radius: 5px;
  border: solid 1px;
  
}

.shippingCity {
  margin: 30px;
  padding-left: 7px;
  
}

.shippingPC {
  margin: 30px;
  padding-left: 7px;
  
}

.shippingState {
  margin: 30px;
  padding-left: 7px;
}

.shippingCountry {
  margin: 30px;
  padding-left: 5px;
}
