.signupformBtn {
  background-color: #276ef1;
  color: #fff;
  font-size: 16px;
  line-height: 1.4;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  font-family: inherit;
  min-width: 80px;
  max-width: 80px;
  margin-left: 130px;
}



.signup_div {
  position: absolute;

  width: 300px;
  height: 300px;

  /* Center form on page horizontally & vertically */
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -177px;
}

.signup_form {
  width: 350px;
  height: 350px;

  background: #fff;
  border-radius: 5px;
  border: solid 1px;
  
}

.signupEmail {
  margin: 30px;
  padding-left: 37px;
  
}

.signupPass {
  margin: 30px;
  padding-left: 7px;
  
}

.signupFname {
  margin: 30px;
}

.signupLname {
  margin: 30px;
}
